.explore {
    @include button;

    a {
        text-decoration: none;
    }
}

.workshops-events {
    @include home-section-style;
    @include home-article-style;
    height: 50%;
}

.artists {
    @include home-section-style;
    @include home-article-style;

    height: 50%;
}

@media only screen and (min-width: 1024px){
    .workshops-events {
        @include home-section-grid;
        grid-template-areas:
        "image      image   article" ;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;

        img {
            margin: 0;
        }

    }

    .artists {
        @include home-section-grid;
        grid-template-areas:
        "article    image   image";
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;

        img {
            margin: 0;
        }
    }
}
