.explore{
    h1 {
        font-size: 2em;
        text-align: center;
    }
}

.workshops-events {
    border: 1px solid black;

    @include home-section-style;
    @include home-article-style;
}

.artists {
    border: 1px solid black;

    @include home-section-style;
    @include home-article-style;
}

.buyer-guide {
    border: 1px solid black;

    @include home-section-style;
    @include home-article-style;
}

.categories {
    @include home-article-style;
    flex-direction: column;
}

@media only screen and (min-width: 1024px){
    .workshops-events {
        height: 100vh;
        @include home-section-grid;
        grid-template-areas:
        "image      image   article" ;
        
        grid-template-columns: 1fr 1fr 1fr;
    }

    .artists {
        height: 100vh;
        @include home-section-grid;
        grid-template-areas:
        "article    image   image";

        grid-template-columns: 1fr 1fr 1fr;
    }

    .buyer-guide {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "left middle middle middle right";

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
        article {
            grid-area: middle;
        }  
    }
}
