// Location style

.location-background-image {
    background-image: url('../images/galaxy-map-opacity.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    z-index: -1;
    @include button;

    .location-background-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        

        .locator-header {
            margin: 30px 0px 30px 0px;
            width: 100%;
            font-size: $form-text-header;
            text-align: center;
            justify-content: center;

        }

        .location-form-wrap {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: $font-stack;
            padding-bottom: 25px;

            
            .location-header {
                grid-column: span 2;
                justify-self: center;
            }

            .location-form {
                display: grid;
                width: 500px;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                padding-left: 20px;
                padding-right: 20px;
               
                .location-group {
                    display: grid;
                    grid-column: span 2;

                    label {
                        font-size: 1.5em;
                    
                    }

                    .form-index {
                        @include form-index;
                    }   
                }
            }

        }

        .current-location-button,
        .form-button-submit {
            grid-column: span 2;
            justify-self: center;
        }
    }
}


// Contact form style

.contact-background-image{

    background-image: url('../images/contact-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    z-index: -1;

    .contact-wrapper-text {
    display: flex;
    justify-content: center;
    flex-direction: column;

        .contact-header {
            margin: 30px 0px 30px 0px;
            width: 100%;
            font-size: $form-text-header;
            text-align: center;
            justify-content: center;
        }

        .contact-text {
            width: 100%;;
            justify-content: center;
            text-align: center;
            font-size: 1em;
            padding: 5px 12px 30px 12px;
            
        }

}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include button;

    label {
        font-weight: bold;
    }

    .contact-form  {
        display: grid;
        width: 700px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }

        .form-group {
            display: grid;
            grid-column: span 2;
        }
        
            .contact-index {
                @include form-index;
                border: 1px solid black;
            }


            .contact-group-5 {
                grid-column: span 2;
            }

            .contact-group-6 {
                grid-column: 1 / 3;
                
                .contact-msg {
                    @include form-index;
                    height: 200px;
                    border: 1px solid black;
                }
            }
        
        
        .button-submit {
            grid-column: span 2;
            justify-self: center;
        }

     @media (min-width: 500px) {

                .contact-group-1,
                .contact-group-2,
                .contact-group-3,
                .contact-group-4 {
                grid-column: span 1;
                }
     }

    .check-boxes {
        display: grid;
        grid-template-rows: 0.5fr 1fr 1fr;
        grid-gap: 10px;
        width: 700px;
        padding-left: 20px;
        padding-right: 20px;
        // padding-bottom: 25px;

        .rc-anchor {
            border-radius: 3px;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
            -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08)
        }
        
        .rc-inline-block {
            display: inline-block;
            height: 100%;
        }
        
        .rc-anchor-center-item {
            display: table-cell;
            vertical-align: middle;
        }
        
        .rc-anchor-center-container {
            display: table;
            height: 100%;
            line-height: 4.3;
            margin-left: 10px;
        }
        
        .rc-anchor-light {
            background: #f9f9f9;
            border: 1px solid #d3d3d3;
            color: #000
        }
        
        .rc-anchor-normal {
            height: 74px;
            width: 300px;
            position: relative;
        }
        
        .rc-anchor-normal .rc-anchor-content {
            height: 74px;
            width: 206px;
            float: left;
        }
        
        .rc-anchor-normal .rc-anchor-checkbox-label {
            width: 152px;
        }
        
        .rc-anchor-checkbox-label {
            font-family: Roboto, helvetica, arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        
        .rc-anchor-normal-footer {
            display: inline-block;
            height: 74px;
            vertical-align: top;
        }
        
        .rc-anchor-logo-portrait {
            margin: 10px 0 0 26px;
            width: 58px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        
        .rc-anchor-logo-img-portrait {
            background-size: 32px !important;
            height: 32px;
            margin: 0 13px 0 13px;
            width: 32px;
        }
        
        .rc-anchor-logo-img {
            background: url('https://www.gstatic.com/recaptcha/api2/logo_48.png');
            background-repeat: no-repeat;
        }
        
        .rc-anchor-logo-text {
            color: #9b9b9b;
            cursor: default;
            font-family: Roboto, helvetica, arial, sans-serif;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            margin-top: 5px;
            text-align: center;
        }
        
        .rc-anchor-normal .rc-anchor-pt,
        .rc-anchor-compact .rc-anchor-pt {
            color: #9b9b9b;
            font-family: Roboto, helvetica, arial, sans-serif;
            font-size: 8px;
            font-weight: 400;
        }
        
        .rc-anchor-normal .rc-anchor-pt {
            margin: 4px 13px 0 0;
            padding-right: 2px;
            position: absolute;
            right: 0px;
            text-align: right;
            width: 276px;
        }
        
        .rc-anchor-pt a:link,
        .rc-anchor-pt a:visited {
            color: #9b9b9b;
            text-decoration: none;
        }    
    }
}

}

