// Hamburger Menu Styles

.menu {
  width: 40px;
  height: auto;
  background-color: transparent;
  border-color: transparent;
	margin: 0;
  padding:0;
	display: block;
	justify-self: end;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height: $header-height;
}

.menu:focus {
    outline: none;
}

#bar {
  margin: 0 auto;
	display: block;
	position: relative;
	width: $width-bar;
	height: $height-bar;
	background-color: $color-bar;
	border-radius: $border-radius;
	box-shadow: $shadow-active;
	cursor: pointer;
	transition-delay: $delay;
	
	&.active {
		background-color: transparent;
        
		&:before {
			animation: animate-top-line-open $speed $easing forwards;
		}
		
		&:after {
			animation: animate-bottom-line-open $speed $easing forwards;
		}
	}
	
	&:before {
			animation: animate-top-line-close $speed $easing forwards;
	}
	
	&:after {
			animation: animate-bottom-line-close $speed $easing forwards;
	}
	
	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $height-bar;
		background-color: $color-bar;
		border-radius: $border-radius;
		box-shadow: $shadow-active;
	}
	
	&:before {
		top: -$offsetY;
	}
	
	&:after {
		top: $offsetY;
	}
}

@keyframes animate-top-line-open {
	
	0% {
		transform: translate(0, 0) rotate(0);
	}
	
	50% {
		transform: translate(0, $offsetY) rotate(0);
	}
	
	100% {
		transform: translate(0, $offsetY) rotate(-45deg);
	}
}

@keyframes animate-top-line-close {
	
	0% {
		transform: translate(0, $offsetY) rotate(-45deg);
	}
	
	50% {
		transform: translate(0, $offsetY) rotate(0);
	}
	
	100% {
		transform: translate(0, 0) rotate(0);
	}
}

@keyframes animate-bottom-line-open {
	
	0% {
		transform: translate(0, 0) rotate(0);
	}
	
	50% {
		transform: translate(0, -$offsetY) rotate(0);
	}
	
	100% {
		transform: translate(0, -$offsetY) rotate(-135deg);
	}
}

@keyframes animate-bottom-line-close {

	0% {
		transform: translate(0, -$offsetY) rotate(-135deg);
	}
	
	50% {
		transform: translate(0, -$offsetY) rotate(0);
	}
	
	100% {
		transform: translate(0, 0) rotate(0);
	}
}

// Hide Hamburger Menu For Desktop 

// @media only screen and (min-width: 1024px) {
// 	.menu {
// 		display: none;
// 	}
// }

