@mixin home-article-style {
    margin-bottom: 50px;

    img {
        margin-bottom: 50px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        h1 {
            font-size: 2em;
        }

        span {
            padding: 50px 50px;
        }

        button {
            background-color: $brand-color;
            border: none;
            color: white;
            padding: 5px 25px;
            transition: all 0.3s ease;

            &:hover {
                background-color: black;
            }
        }
    }
}

@mixin home-section-style {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

@mixin home-section-grid {
        display: grid;
        article {
            grid-area: article;
        }

        img {
            grid-area: image;
        }
}