// Header + Navbar Styles For Mobile

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .logo {
        line-height: $header-height;
        display: block;

        svg {
            width: 115px;
            height: 75px;
            flex: 1;
        }
    }

    .main-nav {
        display: none;
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 0;
        background-color: white;
        margin-top: $header-height;
        height: calc(100vh - 100px);

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
        }

        // @at-root li{
        //     // border-top: 1px solid black;
        // }

        li {
            list-style: none;
            text-align: center;
        }

        a {
            line-height: $header-height;
            font-size: $header-font-size;
            color: black;
            transition: all 0.3s ease;
            font-family: $font-stack;

            &:hover {
                text-decoration: none;
                color: $brand-color;
            }
        }

        .social-media {
            font-size: $social-media-size;
            text-align: center;
            line-height: $header-height;

            .fab {
                    
                &:hover {
                    color: $brand-color;
                }
            }

            .fa-instagram {
                margin: 0 20px;
            }
        }


    }

    .sub-nav {
        line-height: $header-height;
        font-size: 1.2em;
        width: 100%;
        text-align: right;

        .location-icon,
        .search-icon {
            color: black;
            margin-right: 15px;

            &:hover,
            &:active,
            &:focus {
                color: $brand-color;
            }
        }

        .find-a-dealer, select {
            display: none;
        }
    }
}
.show .main-nav {
    display: block;
}


// Main Nav for desktop

// @media only screen and (min-width: 1024px){

//     .location-icon{
//         display: none;
//     }

//     .main-nav {
//         height: $header-height;
//         flex: 3;

//         @at-root ul {
//             display: flex;
//             margin: 0;
//             padding: 0 100px;
//         }

//         @at-root ul li {
//             list-style: none;
//             padding: 0 30px;
//         }

//         @at-root ul li a {
//             line-height: $header-height;
//             font-size: $header-font-size;
//             color: black;
//             transition: all 0.3s ease;
//             font-family: $font-stack;

//             &:hover {
//                 text-decoration: none;
//                 color: $brand-color;
//             }
//         }

//     }

    // .sub-nav {
    //     line-height: $header-height;
                
    //     a {
    //         background-color: black;
    //         padding: 2.5px 10px;
    //         color: white;
    //         margin: 0 10px 0;
    //         text-decoration: none;
    //         transition: all 0.3s ease;

    //         &:hover {
    //             background-color: $brand-color;
    //         }
    //     }

    //     select {
    //         margin: 0 10px 0;
    //     }
    // }

// }