.banner {
    position: relative;
    @include button;

    .banner-caption {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(-25%, -50%);
        color: white;
        border-left: 3px solid white;
        padding-left: 25px;

        h2 {
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 25px;
        }

        p {
            font-size: 1.75em;
            margin-bottom: 50px;
        }
    }
}

.guitar-title {
    text-align: center;
    margin: 50px 0 25px;
}

.guitar {
    @include button;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px;

    img {
        width: 300px;
        height: 300px;
    }

    h2 {
        padding: 25px 0;
        text-align: center;
        margin: 0;
    }

    span {
        padding: 0 0 25px;
    }
}

.quick-view {
    display: none;
}

@media only screen and (max-width: 1024px){
    .banner-caption {
        display: none;
    }
}