
.quick-view {
    display: none;
    grid-template-areas:
    "close close"
    "image d"
    "image d"
    "space space";
    align-items: center;
    align-content: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 10fr 1fr;

    .quick-view-description{
        grid-area: d;

        h2 {
            margin: 0 0 100px;
        }
    }

    .close-quick-view{
        position: absolute;
        grid-area: close;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.75;

        &:hover{
            opacity: 1;
        }

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: black;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    picture {
        grid-area: image;
    }

    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
}