// Slide show on index.html



.slideshow {
    height: 0;
    overflow: hidden;
    padding-top: 860px / 1920px * 100%;
    background: white;
    position: relative;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow-img {
    vertical-align: middle;
}

.slideshow-prev, 
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 5px;
    width: auto;
    transition: 0.5s ease;  
    font-size: 2em;
    background-color: rgba(grey, 0.3);
}

.fa-chevron-left, .fa-chevron-right {
    color: white;
}

.slideshow-next {
    right: 0;
}

.slideshow-prev:hover,
.slideshow-next:hover {
    background-color: rgba(black, 1);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: white;
    display: inline-block;
    transition: background-color 1s ease;
    
}

.active, .dot:hover {
    background-color: rgba($brand-color, 1);
}

.slideshow-img {
    animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
}

.slideshow-btn {
    display: inline-block;
    background-color: rgba(grey, 0.3);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 50%; 
    bottom: 5%;
    transform: translate(50%, 0);
}

.slideshow-caption {
    @include banner-caption;
    @include button;
}

.slideshow-caption-right {
    @include banner-caption-right;
    @include button;
}


@media (min-width: 800px) {
    .slideshow-caption h2,
    .slideshow-caption-right h2{
        font-size: 1em;
    }

    .slideshow-caption p,
    .slideshow-caption-right p {
        font-size: .75em;
    }

    .slideshow-caption button,
    .slideshow-caption-right button {
        font-size: .4em;
    }
}

@media (min-width: 400px )  {

    .slideshow-caption h2,
    .slideshow-caption-right h2{
        font-size: .8em;
    }

    .slideshow-caption p,
    .slideshow-caption-right p {
        font-size: .55em;
    }

    .slideshow-caption button,
    .slideshow-caption-right button {
        font-size: .4em;
    }
}
