// Slide show on index.html



.slideshow {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.slides {
    display: none;
}

.slideshow-img {
    vertical-align: middle;
    
}

.slideshow-prev, 
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 10px;
    margin: 2px;
    width: auto;
    font-weight: bold;
    outline: red;
    color: white;
    transition: 0.7s ease;  
    font-size: 1.5em;
    border-radius: 100px;
}

.slideshow-next {
    right: 0;
}

.slideshow-prev:hover,
.slideshow-next:hover {
    background-color: rgba(255, 255, 255, 0.356);
}

.slideshow-caption h2 {
    font-size: $header-font-size;
    padding: 10px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: white;
    display: inline-block;
    transition: background-color 1s ease;
    
}

.active, .dot:hover {
    background-color: rgba(202, 202, 202, 0.705);
}

.slideshow-img {
    animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
}

.slideshow-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    
}


@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

